.header{
  padding: 20px;
}

.header-logo{
float :left;
font-size: 20px;
color: navy;
font-weight: bold;
}

.header-list li{
  float: right;
  font-size: 12px;
  padding: 5px;
  list-style: none;
  color: navy;
  font-weight: bold;
}

.relative{
  position: relative;
}

.relative-img{
  position: relative;
  margin: 100px 0 0 auto;
  display: block;
  width: 50%;
  z-index: 2;
}

.absolute-text{
  position: absolute;
  top: 57%;
  font-size: 70px;
}

.abdolute-box{
  position: absolute;
  top: 80%;
  background-color: navy;
  width: 80%;
  height: 40%;
  z-index: 1;
}